<div id='container'>
  <div id="imgBurger">
    <img src="/assets/img/burger.jpg" alt="burger">
  </div>
  <h2>Eat da burger</h2>
  <div id="data">
    <div id='toEatBox'>
      <p class='boxtitle'>Eat me</p>
      <ol id="toEat">
        {{#each burgers}}
        {{#unless devoured}}
        <li>
          {{burger_name}}

          <button class="devour" id="{{id}}">
            Devour
          </button>

        </li>
        {{/unless}}
        {{/each}}
      </ol>
    </div>
    <div id='eatenBox'>
      <p class='boxtitle'>Eaten</p>
      <ol id="eaten">
        {{#each burgers}}
        {{#if devoured}}
        <li>
          {{burger_name}}
        </li>
        {{/if}}
        {{/each}}
      </ol>
    </div>
  </div>
  <div>
    <input type="text" id="txtBurgerName">
  </div>
  <div>
    <button id="submit">Submit</button>
  </div>

</div>